.accessories {
padding-top: 120px;
padding-bottom: 120px; 
background-color: $page-bgn-color;  
}

.container-accessories {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding-left: 40px;
        padding-right: 40px;
    }
    @media screen and (min-width: 1280px){
        max-width: 1280px;
    }
    
}

.accessories__btn-list {
    display: flex;
    margin-bottom: 189px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.accessories__btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.17;
    //letter-spacing: 0.06em;
    vertical-align: center;
    color: $text-accent-color;
    background-color: $page-bgn-color;
    cursor: pointer;
    width: 168px;
    height: 51px;
    border-color: $btn-border-color;
    text-align: center;
    //align-items: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 16px;
    border: 1px solid rgba(134, 229, 67, 1);
    //padding: 16px 74px;
    //text-decoration: none;
    gap: 10px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accessories__btn:hover,
.accessories__btn:focus {
    color: $btn-text-color;
    background-color: $btn-color;
    border: 4px;
    box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5), 0px 4px 10px rgba(255, 255, 255, 0.1);
}

.accessories__btn:not(:last-child) {
    margin-right: 20px;
}

.accessories__title {
    position: relative;
    @media screen and (min-width: 768px) {
    font-size: 56px; 
    padding-bottom: 51px;   
    }
    @media screen and (min-width: 1280px) {
        padding-bottom: 51px;
    }
    @media screen and (max-width: 767px) {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 27px;
    }
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    font-style: 24px;
    line-height: 1.17;
    //margin-left: auto;
    //margin-right: auto;
    color: $nav-menu-text-color;
    text-align: left;
    //padding-top: 0; 
}

.accessories__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.accessories__pic {
    border-radius: 12px;
    box-shadow: #86E543;
    //overflow: hidden;
}

.accessories__pic:hover {
    box-sizing: 4px;
    border-color: $btn-border-color;
}

.accessories__link:hover,
.accessories__link:focus {
    display: block;

}
.accessories__overlay {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.accessories__overlay-text{
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    height: 100%;
    color: $white-color;
    background-color: #01383A;
    padding: 16px;
    border: 1px solid rgba(134, 229, 67, 1);
    text-align: left;
    vertical-align: top;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accessories__picture:hover .accessories__overlay-text {
    transform: translateY(0);
}

.accessories__picture {
    @include mobile {
        width: 100%;
    }
@include tablet {
        width: calc((100% - 38px) / 2);
    } 
@include desktop {
        width: calc((100% - 60px) / 4);
    }
}

.accessories__block{
    padding-top: 8px;
    max-width: 285px;
    max-height: px;
}

.accessories__name{
    font-weight: 500;
    font-size: 22px;
    line-height: 1,17;
    text-align: left;
    color: $text-accent-color;
    margin-bottom: 11px;
    margin-left: 8px;
    max-width: 261px;
}

.accessories__prices {
    display: flex;
    gap: 80px;
}

.accessories__old-price {
    font-weight: 500;
    font-size: 14px;
    text-decoration: line-through;
    line-height: 1;
    text-align: left;
    color: $old-price-text-color;
}

.accessories__price{
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: left;
    color: $text-accent-color;
}