.accessories {
padding-top: 120px;
padding-bottom: 120px;   
}
.accessories__btn-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
}
.accessories__btn{

}

.accessories__title {
    
}

.accessories__list {

}

.accessories__picture {

}

.accessories__list {

}

.accessories__overlay {

}

.accessories__overlay-text{

}

.accessories__block{

}

.accessories__name{

}

.accessories__old-price {

}

.accessories__price{
    
}