// Modal window

.contact-us__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 20, 20, 0.8);
  transition: opacity 250ms linear, visibility 250ms linear;
  overflow-y: scroll;
}

.contact-us__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.contact-us__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 100px 29px;
  min-height: 395px;
  width: 408px;
  max-width: 90%;
  background-color: #01383a;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms linear, opacity 250ms linear;

  @media screen and (min-width: 768px) {
    min-height: 524px;
    min-width: 688px;
    padding: 88px 25px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 768px;
    padding: 88px 65px;
  }
}

.contact-us__backdrop.is-hidden .contact-us__modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.contact-modal__button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  fill: #86e543;
  background: transparent;
  border: none;
  transition: fill 250ms linear;
}

button {
  cursor: pointer;
}

.contact-modal__button-text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  color: #ffffff;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1.18;
  }
}

.contact-button__item {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 173px;
  height: 51px;
  padding: 16px 20px;
  margin-top: 24px;
  color: #01383a;
  background-color: #86e543;
  border-radius: 16px;
  border: none;
  &:hover,
  &:focus {
    box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
      0px 4px 10px rgba(255, 255, 255, 0.1);
  }

  @media screen and (min-width: 768px) {
    margin-top: 80px;
    min-width: 306px;
    height: 70px;
    font-size: 32px;
  }
}
