// background colors

$page-bgn-color: #01383A;
$footer-bgn-color: #001414;
$header-bgn-color: #01383A;

// button colors

$btn-color: #86E543;
$btn-border-color: #86E543;
$btn-view-all-color: #FFFFFF;

// gradients

$banner-one-place-gradient: linear-gradient(270deg, #1EDDE0 13.26%, 
#8BDA41 51.01%, #EF001B 107.89%);
$banner-products-gradient: linear-gradient(270deg, #03FE8F 4.61%, 
#EBDCFF 57.91%, #FF98F3 92.2%);
$banner-price-gradient: linear-gradient(270deg, #FFFFFF 13.26%, 
#693CF9 60.87%, #F475EB 107.89%);


// text colors

$btn-shop-now-text-color: #000000;
$btn-text-color: #01383A;
$contacts-text-color: #8D9289;
$date-text-color: #8D9289;
$logo-text-color: #FFFFFF;
$nav-menu-text-color: #FFFFFF;
$old-price-text-color: #8D9289;
$text-accent-color: #86E543;

// shadows

$btn-hover-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5), 
0px 4px 10px rgba(255, 255, 255, 0.1);
$btn-filter-pressed-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1), 
0px 4px 20px rgba(134, 229, 67, 0.4);
$btn-pressed-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1), 
0px 4px 20px rgba(134, 229, 67, 0.4);
$btn-view-all-hover-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5), 
0px 4px 10px rgba(134, 229, 67, 0.1);
$header-shadow: 0px 4px 10px rgba(97, 162, 58, 0.2), 
0px 4px 50px rgba(94, 236, 54, 0.5), 0px 4px 4px rgba(17, 168, 26, 0.2);
$icon-fill-color: #86E543;

// various

$black-color: #000000;
$broken-line-fill-color: #7BE34A;
$broken-line-fill-alt-color: #28780D;
$form-decor-color: #86E543;
$page-font-family: 'Roboto';
$section-border-color: #86E543;
$white-color: #FFFFFF;