<section class="blog page__container container">
  <h1 class="blog__main-title">Blog</h1>
  <!-- <p class="subtitle fancy"><span></span>
       <p class="subtitle fancy fancybottom "><span></span> -->
  <ul class="blog__items">
    <li class="blog__item">
      <a href="blog-article.html" class="blog__image--up">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/blog/blog-page-ray-des-1x.jpg 1x,
              ./images/blog/blog-page-ray-des-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/blog/blog-page-ray-tab-1x.jpg 1x,
              ./images/blog/blog-page-ray-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/blog/blog-page-ray-mob-1x.jpg 1x,
              ./images/blog/blog-page-ray-mob-2x.jpg 2x
            "
          />
          <img
            src="./images/blog/blog-page-ray-des-1x.jpg"
            alt="choice of headphones"
          />
        </picture>
      </a>
      <div class="blog__envelopment">
        <div class="blog__title">Guide to Picking The Right Gaming Headset</div>

        <div class="blog__wrapper">
          <div class="blog__body">
            <a href="blog-article.html" class="blog__image">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/blog/blog-page-ray-des-1x.jpg 1x,
                    ./images/blog/blog-page-ray-des-2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/blog/blog-page-ray-tab-1x.jpg 1x,
                    ./images/blog/blog-page-ray-tab-2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/blog/blog-page-ray-mob-1x.jpg 1x,
                    ./images/blog/blog-page-ray-mob-2x.jpg 2x
                  "
                />
                <img
                  src="./images/blog/blog-page-ray-des-1x.jpg"
                  alt="choice of headphones"
                />
              </picture>
            </a>
            <div class="blog__info">
              <div class="blog__category">By Ray Ian Ampoloquio</div>
              <div class="blog__year">Updated on September 21, 2022</div>
            </div>
          </div>

          <div class="blog__text--wrap">
            <div class="blog__text text">
              Learn how to choose an amazing gaming headset with this checklist
              of just 9 surprisingly simple steps. Gaming headsets offer a handy
              and practical solution to any and all of your gaming audio needs.
              But, as with any kind of ...
            </div>
            <a href="blog-article.html" class="blog__link">Learn more</a>
          </div>
        </div>
      </div>
    </li>
    <li class="blog__item">
      <a href="blog-article.html" class="blog__image--up">
        <gabture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/blog/blog-page-gab-des-1x.jpg 1x,
              ./images/blog/blog-page-gab-des-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/blog/blog-page-gab-tab-1x.jpg 1x,
              ./images/blog/blog-page-gab-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/blog/blog-page-gab-mob-1x.jpg 1x,
              ./images/blog/blog-page-gab-mob-2x.jpg 2x
            "
          />
          <img
            src="./images/blog/blog-page-gab-des-1x.jpg"
            alt="choice of headphones"
          />
        </gabture>
      </a>
      <div class="blog__envelopment">
        <div class="blog__title">
          Mic Monitoring: What Is It and How It Is Relevant to Gaming
        </div>

        <div class="blog__wrapper">
          <div class="blog__body">
            <a href="blog-article.html" class="blog__image">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/blog/blog-page-gab-des-1x.jpg 1x,
                    ./images/blog/blog-page-gab-des-2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/blog/blog-page-gab-tab-1x.jpg 1x,
                    ./images/blog/blog-page-gab-tab-2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/blog/blog-page-gab-mob-1x.jpg 1x,
                    ./images/blog/blog-page-gab-mob-2x.jpg 2x
                  "
                />
                <img
                  src="./images/blog/blog-page-gab-des-1x.jpg"
                  alt="choice of headphones"
                />
              </picture>
            </a>
            <div class="blog__info">
              <div class="blog__category">By Gab L</div>
              <div class="blog__year">Updated on September 10, 2022</div>
            </div>
          </div>

          <div class="blog__text--wrap">
            <div class="blog__text text">
              An explanation and exploration of microphone monitoring — its
              benefits and how you can start using one of the most underrated
              features today ...
            </div>
            <a href="blog-article.html" class="blog__link">Learn more</a>
          </div>
        </div>
      </div>
    </li>
    <li class="blog__item">
      <a href="blog-article.html" class="blog__image--up">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/blog/blog-page-michael-des-1x.jpg 1x,
              ./images/blog/blog-page-michael-des-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/blog/blog-page-michael-tab-1x.jpg 1x,
              ./images/blog/blog-page-michael-tab-2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/blog/blog-page-michael-mob-1x.jpg 1x,
              ./images/blog/blog-page-michael-mob-2x.jpg 2x
            "
          />
          <img
            src="./images/blog/blog-page-michael-des-1x.jpg"
            alt="choice of headphones"
          />
        </picture>
      </a>
      <div class="blog__envelopment">
        <div class="blog__title">How to Choose the Right Gaming Mouse</div>

        <div class="blog__wrapper">
          <div class="blog__body">
            <a href="blog-article.html" class="blog__image">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/blog/blog-page-michael-des-1x.jpg 1x,
                    ./images/blog/blog-page-michael-des-2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/blog/blog-page-michael-tab-1x.jpg 1x,
                    ./images/blog/blog-page-michael-tab-2x.jpg 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./images/blog/blog-page-michael-mob-1x.jpg 1x,
                    ./images/blog/blog-page-michael-mob-2x.jpg 2x
                  "
                />
                <img
                  src="./images/blog/blog-page-michael-des-1x.jpg"
                  alt="choice of headphones"
                />
              </picture>
            </a>
            <div class="blog__info">
              <div class="blog__category">By Michael Crider</div>
              <div class="blog__year">Updated on September 2, 2022</div>
            </div>
          </div>

          <div class="blog__text--wrap">
            <div class="blog__text text">
              A good mouse can make a big difference when playing your favorite
              games. Here’s what you need to know about grip styles, types of
              gaming mice, technical specs, and more, before purchasing a new
              gaming mouse ...
            </div>
            <a href="blog-article.html" class="blog__link">Learn more</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
