<footer class="footer">
  <div class="footer__container">
    <!-- Logo -->
    <div class="footer__logo">
      <a href="index.html" class="footer__logo-link">SHOP FOR GAMERS</a>
    </div>
    <div class="footer__block-links">
      <!-- Links -->
      <div class="footer__links">
        <ul class="footer__links-list">
          <li>
            <a href="./accessories.html" class="footer__links-item"
              >Accessories</a
            >
          </li>
          <li>
            <a href="./take-order.html" class="footer__links-item"
              >Take order</a
            >
          </li>
          <li>
            <a href="./contacts.html" class="footer__links-item">Contact</a>
          </li>
          <li>
            <a href="./blog-article.html" class="footer__links-item">Blog</a>
          </li>
        </ul>
      </div>
      <!-- Social links -->
      <div class="footer__social">
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a href="https://www.instagram.com" class="footer__social-link">
              <svg width="24px" height="24px">
                <use href="./images/icons.svg#icon-soc-btn"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a href="https://www.facebook.com" class="footer__social-link">
              <svg width="24px" height="24px">
                <use href="./images/icons.svg#icon-soc-btn-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a href="https://www.youtube.com" class="footer__social-link">
              <svg width="24px" height="24px">
                <use href="./images/icons.svg#icon-soc-btn-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="contacts">
      <!-- E-mail -->
      <div class="footer__email">
        <p class="footer__email-text">Email</p>
        <a href="mailto:sfg.info@gmail.com" class="footer__email-link"
          >sfg.info@gmail.com</a
        >
      </div>
      <!-- Phone -->
      <div class="footer__phone">
        <span class="footer__phone-text">Phone number</span>
        <ul class="footer__phone-list">
          <li class="footer__phone-item">
            <a href="tel:+380936432288" class="footer__phone-link"
              >+38 (093) 643 22 88</a
            >
          </li>
          <li class="footer__phone-item">
            <a href="tel:+380503454423" class="footer__phone-link"
              >+38 (050) 345 44 23</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
