<header class="header">
    <div class="header__container">
            <a class="header__link-logo" href="./">
                SHOP FOR GAMERS
            </a>
            <button data-menu-open class="header__button-open" type="button">
                <svg class="header__icon" width="46" height="36">
                    <use href="./images/icons.svg#icon-mob-burger-menu"></use>
                </svg>
            </button>
            <ul class="header__nav">
                <li class="header__nav-list">
                    <a href="./accessories.html" class="header__nav-link">Accessories</a>
                </li>
                <li class="header__nav-list">
                    <a href="./contacts.html" class="header__nav-link">Contact</a>
                </li>
                <li class="header__nav-list">
                    <a href="./blog.html" class="header__nav-link">Blog</a>
                </li>
            </ul>
            <a class="header__button-shopnow" href="./accessories.html">
                Shop now
            </a>
    </div> 
    <!-- Mobile menu -->
    <div data-menu class="mob-menu is-hidden">
        <div class="mob-wrapper">
            <div class="mob-nav-wrapper">
                <a class="mob__link-logo" href="./">
                    SHOP FOR GAMERS
                </a>
                <button data-menu-close class="mob-menu__close" type="button"> 
                    <svg class="mob__icon-close" width="30" height="30">
                      <use href="./images/icons.svg#icon-mob-menu-cross"></use>
                    </svg>
                  </button>
                  <a class="header__button-shopnow mob" href="./accessories.html">
                    Shop now
                </a>
            </div>
        </div>
            <ul class="mob-menu__nav">
                <li class="mob-menu__nav-list">
                    <a href="./accessories.html" class="mob-menu__nav-link">Accessories</a>
                </li>
                <li class="mob-menu__nav-list">
                    <a href="./contacts.html" class="mob-menu__nav-link">Contact</a>
                </li>
                <li class="mob-menu__nav-list">
                    <a href="./blog.html" class="mob-menu__nav-link">Blog</a>
                </li>
    </div>
</header>