<header class="header">
  <div class="header__container">
    <a class="header__link-logo" href="./index.html"> SHOP FOR GAMERS </a>
    <button
      type="button"
      class="header__button-open"
      aria-expanded="false"
      aria-controls="mob-menu"
      data-menu-button
    >
      <svg class="header__icon" width="46" height="36">
        <use
          class="burger-line"
          href="./images/icons.svg#icon-mob-burger-menu"
        ></use>
        <use
          class="cross-line"
          href="./images/icons.svg#icon-mob-menu-cross"
        ></use>
      </svg>
    </button>
    <ul class="header__nav">
      <li class="header__nav-list">
        <a href="./accessories.html" class="header__nav-link">Accessories</a>
      </li>
      <li class="header__nav-list">
        <a href="./contacts.html" class="header__nav-link">Contact</a>
      </li>
      <li class="header__nav-list">
        <a href="./blog.html" class="header__nav-link">Blog</a>
      </li>
    </ul>
    <a class="header__button-shopnow" href="./accessories.html"> Shop now </a>
  </div>
  <!-- Mobile menu -->
  <div data-menu class="mob-menu" id="mob-menu">
    <ul class="mob-menu__nav">
      <li class="mob-menu__nav-list">
        <a href="./accessories.html" class="mob-menu__nav-link">Accessories</a>
      </li>
      <li class="mob-menu__nav-list">
        <a href="./contacts.html" class="mob-menu__nav-link">Contact</a>
      </li>
      <li class="mob-menu__nav-list">
        <a href="./blog.html" class="mob-menu__nav-link">Blog</a>
      </li>
    </ul>
  </div>
</header>
