<header class="header">
    <div class="header__container">
            <a class="header__link-logo" href="https://khailoandrey.github.io/Project_13/">
                SHOP FOR GAMERS
            </a>
            <button data-menu-open class="header__button-open" type="button">
                <svg class="header__icon" width="46" height="36">
                    <use href="./images/icons.svg#icon-mob-burger-menu"></use>
                </svg>
            </button>
            <ul class="header__nav">
                <li class="header__nav-list">
                    <a href="" class="header__nav-link">Accessories</a>
                </li>
                <li class="header__nav-list">
                    <a href="" class="header__nav-link">Contact</a>
                </li>
                <li class="header__nav-list">
                    <a href="" class="header__nav-link">Blog</a>
                </li>
            </ul>
            <a class="header__button-shopnow" href="https://khailoandrey.github.io/Project_13/">
                Shop now
            </a>
    </div> 
</header>