<section class="sale">
    <div class="sale__container">
      <h2 class="sale__title">Sale</h2>
 <div>
    <svg class="line__dark" width="1330" height="70">
        <use href="./images/main-sale/line/line1.svg#Vector-22linedark-2"></use>
</svg>
 </div>
      <ul class="sale__list">
        <li class="sale__item item-1">
            <a class="sale__link"
            href="./take-order.html"
            target="_blank"
            rel="noopener noreferrer">
            <div class="sale__thumb">
            <picture>
                <source srcset="./images/main-sale/desktop/sale-desktop@1x-1.jpg 1x,
                ./images/main-sale/desktop/sale-desktop@2x-1.jpg 2x"
                media="(max-width: 1280px)"
                />
                <source srcset="./images/main-sale/tablet/sale-tablet@1x-1.jpg 1x,
                ./images/main-sale/tablet/sale-tablet@2x-1.jpg"
                media="(max-width: 768px)"
                />
                <source srcset="./images/main-sale/mobile/sale-mobile@1x-1.jpg 1x,
                ./images/main-sale/mobile/sale-mobile@2x-1.jpg"
                media="(max-width: 320px)"
                />
                <img
            class="sale__img"
            src="./images/main-sale/sale-1.jpg"
            alt="Headphones model Xiberia K9 PRO PC Headset"
            />
            </picture>
        </div>
            <div class="sale__description">
             <h3 class="sale__text">Xiberia K9 PRO PC Headset</h3>
             <div class="sale__price">
                <p class="sale__oldprice">65.14 USD</p>
                <p class="sale__newprice">55.14 USD</p>
             </div>  
            </div>
        </a>
            </li>
        <li class="sale__item item-2">
            <a class="sale__link"
            href="./take-order.html"
            target="_blank"
            rel="noopener noreferrer">
            <div class="sale__thumb">
            <picture>
                <source srcset="./images/main-sale/desktop/sale-desktop@1x-2.jpg 1x,
                ./images/main-sale/desktop/sale-desktop@2x-2.jpg 2x"
                media="(max-width: 1280px)"
                />
                <source srcset="./images/main-sale/tablet/sale-tablet@1x-2.jpg 1x,
                ./images/main-sale/tablet/sale-tablet@2x-2.jpg 2x"
                media="(max-width: 768px)"
                />
                <!-- <source srcset=""
                media="(max-width: 320px)"
                /> -->
                <img
            class="sale__img"
            src="./images/main-sale/sale-2.jpg"
            alt="Headphones model G95 Light Surround Gaming Headset"
            />
            </picture>
        </div>
            <div class="sale__description">
             <h3 class="sale__text">G95 Light Surround Gaming Headset</h3>
             <div class="sale__price">
                <p class="sale__oldprice">72.78 USD</p>
                <p class="sale__newprice">51.78 USD</p>
             </div>  
            </div>
        </a>
        </li>
        <li class="sale__item item-3">
            <a class="sale__link"
            href="./take-order.html"
            target="_blank"
            rel="noopener noreferrer">
            <div class="sale__thumb">
            <picture>
                <source srcset="./images/main-sale/desktop/sale-desktop@1x-3.jpg 1x,
                ./images/main-sale/desktop/sale-desktop@2x-3.jpg 2x"
                media="(max-width: 1280px)"
                />
                <source srcset="./images/main-sale/tablet/sale-tablet@1x-5.jpg 1x,
                ./images/main-sale/tablet/sale-tablet@2x-5.jpg 2x"
                media="(max-width: 768px)"
                />
                <source srcset="./images/main-sale/mobile/sale-mobile@1x-3.jpg 1x,
                ./images/main-sale/mobile/sale-mobile@2x-3.jpg 2x"
                media="(max-width: 320px)"
                />
                <img
            class="sale__img"
            src="./images/main-sale/sale-3.jpg"
            alt="Headphones model G95 Light Surround Gaming Headset"
            />
            </picture>
        </div>
            <div class="sale__description">
             <h3 class="sale__text">G95 Light Surround Gaming Headset</h3>
             <div class="sale__price">
                <p class="sale__oldprice">78.98 USD</p>
                <p class="sale__newprice">50.98 USD</p>
             </div>  
            </div>
        </a>
        </li>
        <li class="sale__item item-4">
            <a class="sale__link"
            href="./take-order.html"
            target="_blank"
            rel="noopener noreferrer">
            <div class="sale__thumb">
            <picture>
                <source srcset="./images/main-sale/desktop/sale-desktop@1x-4.jpg 1x,
                ./images/main-sale/desktop/sale-desktop@2x-4.jpg 2x"
                media="(max-width: 1280px)"
                />
                <source srcset="./images/main-sale/tablet/sale-tablet@1x-8.jpg 1x,
                ./images/main-sale/tablet/sale-tablet@2x-8.jpg 2x"
                media="(max-width: 768px)"
                />
                <!-- <source srcset=""
                media="(max-width: 320px)"
                /> -->
                <img
            class="sale__img"
            src="./images/main-sale/sale-4.jpg"
            alt="Headphones model Logitech G230 Stereo Gaming Headset"
            />
            </picture>
        </div>
            <div class="sale__description">
             <h3 class="sale__text">Logitech G230 Stereo Gaming Headset</h3>
             <div class="sale__price">
                <p class="sale__oldprice">160.00 USD</p>
                <p class="sale__newprice">110.00 USD</p>
             </div>  
            </div>
        </a>
        </li>
        <li class="sale__item item-5">
            <a class="sale__link"
            href="./take-order.html"
            target="_blank"
            rel="noopener noreferrer">
            <div class="sale__thumb">
            <picture>
                <source srcset="./images/main-sale/desktop/sale-desktop@1x-5.jpg 1x,
                ./images/main-sale/desktop/sale-desktop@2x-5.jpg 2x"
                media="(max-width: 1280px)"
                />
                <source srcset="./images/main-sale/tablet/sale-tablet@1x-3.jpg 1x,
                ./images/main-sale/tablet/sale-tablet@2x-3.jpg 2x"
                media="(max-width: 768px)"
                />
                <source srcset="./images/main-sale/mobile/sale-mobile@1x-2.jpg 1x,
                ./images/main-sale/mobile/sale-mobile@2x-2.jpg 2x"
                media="(max-width: 320px)"
                />
                <img
            class="sale__img"
            src="./images/main-sale/sale-5.jpg"
            alt="Keyboard model RGB LED Backlit Mechanical Keyboard"
            />
            </picture>
        </div>
            <div class="sale__description">
             <h3 class="sale__text">RGB LED Backlit Mechanical Keyboard</h3>
             <div class="sale__price">
                <p class="sale__oldprice">156.00 USD</p>
                <p class="sale__newprice">116.00 USD</p>
             </div>  
            </div>
        </a>
        </li>
        <li class="sale__item item-6">
            <a class="sale__link"
            href="./take-order.html"
            target="_blank"
            rel="noopener noreferrer">
            <div class="sale__thumb">
            <picture>
                <source srcset="./images/main-sale/desktop/sale-desktop@1x-6.jpg 1x,
                ./images/main-sale/desktop/sale-desktop@2x-6.jpg 2x"
                media="(max-width: 1280px)"
                />
                <source srcset="./images/main-sale/tablet/sale-tablet@1x-4.jpg 1x,
                ./images/main-sale/tablet/sale-tablet@2x-4.jpg 2x"
                media="(max-width: 768px)"
                />
                <!-- <source srcset=""
                media="(max-width: 320px)"
                /> -->
                <img
            class="sale__img"
            src="./images/main-sale/sale-6.jpg"
            alt="Keyboard model K569 RGB LED Backlit Mechanical Keyboard"
            />
            </picture>
        </div>
            <div class="sale__description">
             <h3 class="sale__text">K569 RGB LED Backlit Mechanical Keyboard</h3>
             <div class="sale__price">
                <p class="sale__oldprice">156.98 USD</p>
                <p class="sale__newprice">112.16 USD</p>
             </div>  
            </div>
        </a>
        </li>
        <li class="sale__item item-7">
            <a class="sale__link"
            href="./take-order.html"
            target="_blank"
            rel="noopener noreferrer">
            <div class="sale__thumb">
            <picture>
            <source srcset="./images/main-sale/desktop/sale-desktop@1x-7.jpg 1x,
            ./images/main-sale/desktop/sale-desktop@2x-7.jpg 2x"
            media="(max-width: 1280px)"
            />
            <source srcset="./images/main-sale/tablet/sale-tablet@1x-7.jpg 1x,
            ./images/main-sale/tablet/sale-tablet@2x-7.jpg 2x"
            media="(max-width: 768px)"
            />
            <source srcset="./images/main-sale/mobile/sale-mobile@1x-4.jpg 1x,
            ./images/main-sale/mobile/sale-mobile@2x-4.jpg 2x"
            media="(max-width: 320px)"
            />
            <img
        class="sale__img"
        src="./images/main-sale/sale-7.jpg"
        alt="Mouse model Malloom 1200 DPI 2.4Ghz Wireless Mouse"
        />
        </picture>
    </div>
        <div class="sale__description">
         <h3 class="sale__text">Malloom 1200 DPI 2.4Ghz Wireless Mouse</h3>
         <div class="sale__price">
            <p class="sale__oldprice">44.24 USD</p>
            <p class="sale__newprice">29.93 USD</p>
         </div>  
        </div>
    </a>
    </li>
        <li class="sale__item item-8">
            <a class="sale__link"
            href="./take-order.html"
            target="_blank"
            rel="noopener noreferrer">
            <div class="sale__thumb">
            <picture>
                <source srcset="./images/main-sale/desktop/sale-desktop@1x-8.jpg 1x,
                ./images/main-sale/desktop/sale-desktop@2x-8.jpg 2x"
                media="(max-width: 1280px)"
                />
                <source srcset="./images/main-sale/tablet/sale-tablet@1x-6.jpg 1x,
                ./images/main-sale/tablet/sale-tablet@2x-6.jpg 2x"
                media="(max-width: 768px)"
                />
                <!-- <source srcset=""
                media="(max-width: 320px)"
                /> -->
                <img
            class="sale__img"
            src="./images/main-sale/sale-8.jpg"
            alt="Mouse model DARSHION 3200 DPI MZ-17 Gaming Mouse"
            />
            </picture>
        </div>
            <div class="sale__description">
             <h3 class="sale__text">DARSHION 3200 DPI MZ-17 Gaming Mouse</h3>
             <div class="sale__price">
                <p class="sale__oldprice">48.00 USD</p>
                <p class="sale__newprice">32.00 USD</p>
             </div>  
            </div>
        </a>
        </li>
        </ul>
        <form action="./accessories.html" target="_blank">
        <button class="sale__btn">View all</button>
    </form>
    </div>
      </section>

