<!-- <main>
  <main class="main">
    <section class="section-hero">
      <div class="hero">
        <h1 class="hero__title">Best shop for buying gaming products</h1>
        <button class="hero__btn" type="button">Start shopping</button>
      </div>
    </section>
  </main>
</main> -->

<section class="hero">
  <div class="hero__container">
    <div class="hero__bg-image">
      <span class="hero__text">Best shop for buying gaming products</span>
    </div>
    <button type="button" class="hero__button">
      <a href="./accessories.html" class="hero__button-link">
        <p class="hero__button-text">Start shopping</p>
      </a>
    </button>
  </div>
</section>
