<div
  class="order-modal--thank__overlay js-overlay-modal--thank modal--is-hidden"
>
  <div class="order-modal--thank">
    <button
      type="button"
      class="order-modal--thank__escape-button js-modal-close--thank"
    >
      <svg class="order-modal--thank__escape-icon">
        <use href="./images/icons.svg#icon-modal-close-btn"></use>
      </svg>
    </button>
    <b class="order-modal--thank__call"
      >Thank you <br />
      for your order! <br />
      We will contact you soon!</b
    >
    <button type="button" class="order-modal--thank__go-button">
      KEEP SHOPPING
    </button>
  </div>
</div>
