<body>
    <div class="container">
        <div class="section">
      <h1 class="section-title">Take order</h1>
      <h2 class="product-name">Xiberia K9 PRO PC Headset</h2>
      <div class="product-gallary">
        <picture>
            <source
              srcset="
                ./images/take-order-img/1headphones1x.jpg 1x,
                ./images/take-order-img/1headphones2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
              ./images/take-order-img/1headphones1x.jpg 1x,
              ./images/take-order-img/1headphones1x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/take-order-img/1mob-headphones1x.jpg 1x,
                ./images/take-order-img/1mob-headphones2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/take-order-img/1headphones1x.jpg" alt="headphones" />
          </picture>
        <span>65.14 USD</span>
        <span>5.14 USD</span>
      </div>

      <div>
        <ul>
          <li>
            <picture>
                <source
                  srcset="
                    ./images/take-order-img/2headphones1x.jpg 1x,
                    ./images/take-order-img/2headphones2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                  ./images/take-order-img/2headphones1x.jpg 1x,
                  ./images/take-order-img/2headphones1x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/take-order-img/2mob-headphones1x.jpg 1x,
                    ./images/take-order-img/2mob-headphones2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="./images/take-order-img/2headphones1x.jpg" alt="headphones" />
              </picture>
          </li>
          <li>
            <picture>
                <source
                  srcset="
                    ./images/take-order-img/3headphones1x.jpg 1x,
                    ./images/take-order-img/3headphones2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                  ./images/take-order-img/3headphones1x.jpg 1x,
                  ./images/take-order-img/3headphones1x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/take-order-img/3mob-headphones1x.jpg 1x,
                    ./images/take-order-img/3mob-headphones2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="./images/take-order-img/3headphones1x.jpg" alt="headphones" />
              </picture>
          <li>
            <picture>
                <source
                  srcset="
                    ./images/take-order-img/4headphones1x.jpg 1x,
                    ./images/take-order-img/4headphones2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                  ./images/take-order-img/4headphones1x.jpg 1x,
                  ./images/take-order-img/4headphones1x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/take-order-img/4mob-headphones1x.jpg 1x,
                    ./images/take-order-img/4mob-headphones2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="./images/take-order-img/4headphones1x.jpg" alt="headphones" />
              </picture>
            </li>
          </li>
          <li>
            <picture>
                <source
                  srcset="
                    ./images/take-order-img/4headphones1x.jpg 1x,
                    ./images/take-order-img/5headphones2x.jpg 2x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                  ./images/take-order-img/5headphones1x.jpg 1x,
                  ./images/take-order-img/5headphones1x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/take-order-img/5mob-headphones1x.jpg 1x,
                    ./images/take-order-img/5mob-headphones2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img src="./images/take-order-img/5headphones1x.jpg" alt="headphones" />
              </picture>ages/5headphones1x..jpg" alt="headphones" />
            </picture>
          </li>
        </ul>
      </div>
      <div class="order-form">
        <p class="order-form__title">CONTACT US</p>
        <form class="online-form">
          <div class="online-input-wrap">
            <input
              type="text"
              class="online-input online-item"
              name="name"
              id="name"
              placeholder=" "
            />
            <label for="name" class="online-label">Name</label>
          </div>
          <div class="online-input-wrap">
            <input
              type="email"
              class="online-input online-item"
              name="mail"
              id="mail"
              placeholder=" "
            />
            <label for="mail" class="online-label">Email</label>
          </div>

          <div class="online-select-wrap">
            <label for="color-select">Color Option</label>
            <select name="color" id="color-select">
              <option value=""> </option>
              <option value="black-orange">K9D Black Orange</option>
              <option value="silver-gray">K9D Silver Gray</option>
              <option value="white-blue">K9U White Blue</option>
            </select>
          </div>

          <div class="online-select-wrap">
            <label for="quantity-select">Quantity</label>
            <select name="quantity" id="quantity-select">
              <option value=""> </option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>

          <div class="online-select-wrap">
            <label for="payment-select">Payment</label>
            <select name="payment" id="payment-select">
              <option value=""> </option>
              <option value="debit">Debit cards</option>
              <option value="credit">Credit cards</option>
              <option value="mobile">Mobile payments</option>
            </select>
          </div>
          <div class="online-area-wrap">
            <textarea
              name="message"
              class="online-text online-item"
              placeholder=" "
              id="message"
            ></textarea>
            <label for="message" class="online-label">Leave your message</label>
          </div>
          <button type="submit" class="online-btn">buy it now</button>
          <button type="submit" class="online-btn">ADD TO CART</button>
        </form>
      </div>
    </div>
    </div>

  </body>