<div class="section">
  <div class="section__container">
    <h1 class="section__title">Take order</h1>
    <div class="section-product">
      <h2 class="section-product__name">Xiberia K9 PRO PC Headset</h2>

      <div class="section-product__image">
        <picture>
          <source
            srcset="
              ./images/take-order-img/rectangle42791x.jpg 1x,
              ./images/take-order-img/rectangle42792x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/take-order-img/rectangle42791x.jpg 1x,
              ./images/take-order-img/rectangle42792x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/take-order-img/rectangle4279mob1x.jpg 1x,
              ./images/take-order-img/rectangle4279mob2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/take-order-img/rectangle42791x.jpg"
            alt="headphones"
          />
        </picture>
        <div class="product-price-tablet">
          <span class="product-price product-price--crossed">65.14 USD</span>
          <span class="product-price product-price--current">55.14 USD</span>
        </div>
      </div>
      <div class="gallary">
        <h2 class="section-product__name section-product__name--desctop">
          Xiberia K9 PRO PC Headset
        </h2>
        <div class="product-price-other">
          <span class=" product-price--crossed">65.14 USD</span>
          <span class=" product-price--current">55.14 USD</span>
        </div>

        <ul class="gallary__list">
          <li class="gallary__item">
            <picture>
              <source
                srcset="
                  ./images/take-order-img/rectangle42801x.jpg 1x,
                  ./images/take-order-img/rectangle42802x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/take-order-img/rectangle42801x.jpg 1x,
                  ./images/take-order-img/rectangle42802x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take-order-img/rectangle4280mob1x.jpg 1x,
                  ./images/take-order-img/rectangle4280mob2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/take-order-img/rectangle42801x.jpg"
                alt="headphones"
              />
            </picture>
          </li>
          <li class="gallary__item">
            <picture>
              <source
                srcset="
                  ./images/take-order-img/rectangle42811x.jpg 1x,
                  ./images/take-order-img/rectangle42812x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/take-order-img/rectangle42811x.jpg 1x,
                  ./images/take-order-img/rectangle42812x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take-order-img/rectangle4281mob1x.jpg 1x,
                  ./images/take-order-img/rectangle4281mob2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/take-order-img/rectangle42811x.jpg"
                alt="headphones"
              />
            </picture>
          </li>

          <li class="gallary__item">
            <picture>
              <source
                srcset="
                  ./images/take-order-img/rectangle42821x.jpg 1x,
                  ./images/take-order-img/rectangle42822x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/take-order-img/rectangle42821x.jpg 1x,
                  ./images/take-order-img/rectangle42822x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take-order-img/rectangle4282mob1x.jpg 1x,
                  ./images/take-order-img/rectangle4282mob2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/take-order-img/rectangle42821x.jpg"
                alt="headphones"
              />
            </picture>
          </li>

          <li class="gallary__item">
            <picture>
              <source
                srcset="
                  ./images/take-order-img/rectangle42831x.jpg 1x,
                  ./images/take-order-img/rectangle42832x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/take-order-img/rectangle42831x.jpg 1x,
                  ./images/take-order-img/rectangle42832x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/take-order-img/rectangle4283mob1x.jpg 1x,
                  ./images/take-order-img/rectangle4283mob2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/take-order-img/rectangle42831x.jpg"
                alt="headphones"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="order-form">
    <p class="order-form__title">CONTACT US</p>
    <form>
      <div class="order-form__parts">
        <div class="order-form__left">
          <div class="order-form__input">
            <input
              type="text"
              class="order-form__item"
              name="name"
              id="name"
              placeholder=" "
            />
            <label for="name" class="order-form__label">Name</label>
          </div>
          <div class="order-form__input">
            <input
              type="email"
              class="order-form__item"
              name="mail"
              id="mail"
              placeholder=" "
            />
            <label for="mail" class="order-form__label">Email</label>
          </div>

          <div class="select-group">
            <button class="button">
              <span class="select-label">Color Option</span>
              <span class="arrow"></span>
            </button>

            <div class="dropdown hidden">
              <label for="black-orange" class="select-item"
                >K9D Black Orange</label
              >
              <input
                type="radio"
                name="black-orange"
                value="black-orange"
                id="black-orange"
                class="option"
              />
              <label for="silver-gray" class="select-item"
                >K9D Silver Gray</label
              >
              <input
                type="radio"
                name="black-orange"
                value="silver-gray"
                id="silver-gray"
                class="option"
              />
              <label for="white-blue" class="select-item">K9U White Blue</label>
              <input
                type="radio"
                name="black-orange"
                value="white-blue"
                id="white-blue"
                class="option"
              />
            </div>
          </div>

          <div class="select-group">
            <button class="button">
              <span class="select-label">Quantity</span>
              <span class="arrow"></span>
            </button>
          </div>

          <div class="select-group">
            <button class="button">
              <span class="select-label">Payment</span>
              <span class="arrow"></span>
            </button>
          </div>
        </div>

        <div class="order-form__right">
          <div class="order-area">
            <label for="message" class="order-area__label">Leave your message</label>
            <textarea
              name="message"
              class="order-area__text"
              placeholder=" "
              id="message"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="order-form__buttons">
        <button type="button"  class="order-form__btn order-form__btn--buy">
          Buy it now
        </button>
        <button type="button" class="order-form__btn order-form__btn--cart">
          ADD TO CART
        </button>
      </div>
    </form>
  </div>
</div>

<script src="./js/select.js"></script>
