<div class="order-modal modal--is-hidden js-menu-container">
  <!--   Svg иконка для закрытия окна  -->
  <button type="button" class="order-modal__escape-button js-modal-close">
    <svg class="order-modal__escape-icon">
      <use href="./images/icons.svg#icon-modal-close-btn"></use>
    </svg>
  </button>
  <b class="order-modal__call"
    >Excellent choice! <br />
    Let's move on to the checkout!</b
  >
  <button type="button" class="order-modal__go-button">Let's go!</button>
</div>
<div class="order-modal__overlay modal--is-hidden js-menu-container"></div>
